{% extends 'base.html' %}

{% block content %}
    <h2>Welcome to our store</h2>
    <p>Check out our latest products below:</p>
    <ul>
        {% for product in products %}
            <li>
                <h2>{{ product.name }}</h2>
                {% if product.thumbnail %}
                    <img src="{{ product.thumbnail.url }}" alt="{{ product.name }}" style="max-width: 250px;">
                {% else %}
                    <p>No image available</p>
                {% endif %}
                <a href="{{ product.get_absolute_url }}">Voir article</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}